h1{
    text-align: center;
}

.content-col-left > *{
    float: right;
    margin: 20px;
}

.content-col-right > *{
    float: left;
    margin: 20px 5px;
}

.close{
    margin-left: 5px;
}

#chartdiv{
    margin-left: 10%;
    margin-top: 40px;
}

#accordion{
    margin-top: 40px;
    float: right;
    width: 50%;
    margin-right: 30px;
}

.list-group-item{
    cursor: pointer;
    cursor: hand;
}